.header {
  text-align: center;
  font-size: 15px;
  width: 99%;
  padding:10px;
  color: chartreuse;
  background-color: black;
  overflow: hidden;
}
.header h1{
  float: left;
  top:50%;
  transform: translate(160%,-10%);
}
.notfound {
  margin-top: 5px;
  background-image: url("error-404.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: auto;
  padding: 141px;
  text-align: center;
}
.gohome {
  width: auto;
  text-align: center;
}
.gohome a {
  text-decoration: none;
  padding: 15px;
  color: black;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
}
.gohome a:hover {
  background-color: white;
  color: black
}
